<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dianping.mapper.VoucherMapper">

    <select id="queryVoucherOfShop" resultType="com.example.dianping.entity.Voucher" parameterType="java.lang.Long">
        SELECT
            v.`id`, v.`shop_id`, v.`title`, v.`sub_title`, v.`rules`, v.`pay_value`,
            v.`actual_value`, v.`type`, lv.`stock` , lv.begin_time , lv.end_time
        FROM tb_voucher v
        LEFT JOIN  tb_limited_voucher lv ON v.id = lv.voucher_id
        WHERE v.shop_id = #{shopId} AND v.status = 1
    </select>
</mapper>
